$blue-back-clr: #8aa4c5;
$white-back-clr: #ffffff;
$gray-border-clr: #e0e0e0;
$color-blue: #4a4ab9;

$padding-module-app: 10px 15px;

$color-text-primary: #000000;

$dim-px-1: 1px;
$dim-px-4: 4px;
$dim-px-5: 5px;
$dim-px-10: 10px;
$dim-px-15: 15px;
$dim-px-16: 16px;
$dim-px-17: 17px;
$dim-px-20: 20px;
$dim-px-30: 30px;
$dim-px-50: 50px;
$dim-px-100: 100px;
$dim-px-150: 150px;
$dim-px-200: 200px;
