@import "../../constants/styles.scss";

.app-header {
  display: flex;
  // justify-content: space-between;
  gap: $dim-px-30;
  align-items: center;

  &__wrapper {
    background: $blue-back-clr;
  }

  &__logo {
    height: $dim-px-20;
    width: $dim-px-20;
  }

  &__logo-image {
    height: inherit;
    width: inherit;
  }

  &__nav {
    flex: 0.7;
  }

  &__nav-list {
    display: flex;
    gap: $dim-px-20;
    height: $dim-px-50;
    margin: 0;
  }

  &__nav-item {
    display: grid;
    place-items: center;
    height: 100%;
    width: $dim-px-100;
    list-style: none;
  }

  &__nav-link {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: $dim-px-17;
    text-decoration: none;
    color: #000;
    font-weight: 600;

    &.active {
      background-color: $white-back-clr;
    }
  }
}
