.head__wrapper {
  background: #1560bc;

  .head {
    display: flex;
    justify-content: space-between;

    &__logo {
      height: 20px;
      width: 20px;

      &__img {
        height: inherit;
        width: inherit;
      }
    }
  }
}
