@import "../../constants/styles.scss";

.countries-page {
  &__wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $dim-px-100);
    padding-block: $dim-px-15;
  }

  &__search-bar {
    width: 100%;
  }
}
