@import "../../constants/styles.scss";

.foot__wrapper {
  height: $dim-px-50;
  background: $blue-back-clr;

  .foot {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
  }
}
